.particlesbg{
  position:fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.center{
  display: flex;
  justify-content: center;
}

.backpattern{
  background-color: #FF7D9D;
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 33px 6px,
  0px 36px, 4px 2px, 29px 6px, 33px 30px;
  background-image:
  linear-gradient(335deg, #C90032 23px, transparent 23px),
  linear-gradient(155deg, #C90032 23px, transparent 23px),
  linear-gradient(335deg, #C90032 23px, transparent 23px),
  linear-gradient(155deg, #C90032 23px, transparent 23px),

  linear-gradient(335deg, #C90032 10px, transparent 10px),
  linear-gradient(155deg, #C90032 10px, transparent 10px),
  linear-gradient(335deg, #C90032 10px, transparent 10px),
  linear-gradient(155deg, #C90032 10px, transparent 10px);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
